@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

body {
  font-family: "Inter", sans-serif;
}

.sign-up-page {
  border: 2px solid red;
  width: 100%;
  height: 100vh;
  background-color: #f9f8f7;
  display: flex;
  /*justify-content: center;*/
  align-items: center;
}

.form-section {
  width: calc(100vw - 496px);
  display: flex;
  justify-content: center;
}

.form-wrapper {
  border-radius: 30px;
  /*box-shadow: 0px 0px 30px 0px #0000001a;*/
  box-shadow: 0px 0px 41px 5px rgba(168, 156, 156, 0.75);
  -webkit-box-shadow: 0px 0px 41px 5px rgba(168, 156, 156, 0.75);
  -moz-box-shadow: 0px 0px 41px 5px rgba(168, 156, 156, 0.75);
  width: 552px;
  height: 832px;
  padding: 30px 64px 10px 64px;
}

.form-header {
  margin-bottom: 43px;
  display: flex;
  justify-content: space-between;
}

.form-header h2,
.form-header h3 {
  color: #212628;
  font-weight: 700;
}

.form-header h2 {
  font-size: 25px;
  line-height: 48px;
}

.form-header h3 {
  font-size: 23px;
  line-height: 25px;
  margin-top: 11px;
}

.form-header p {
  font-weight: 600;
  font-size: 18px;
  color: #212628;
  line-height: 23px;
  opacity: 0.6;
}

.form-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  width: 424px;
  height: 54px;
  border-radius: 10px;
  border: 1px solid #00000066;
  outline: none;
  padding: 0px 54px 0px 24px;
  font-size: 18px;
  color: #212628;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 27px;
}

.input::placeholder {
  font-size: 18px;
  color: #212628;
  font-weight: 400;
  line-height: 32px;
  opacity: 0.5;
}

.submit-btn {
  width: 370px;
  height: 64px;
  border-radius: 32px;
  background: linear-gradient(
    270deg,
    #c23584 0%,
    #e2306c 24.48%,
    #f77736 83.85%,
    #fa963e 100%
  );
  border: none;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
}

.submit-btn span {
  opacity: 0.5;
  text-decoration: line-through;
}

.card-number-wrapper {
  position: relative;
}

.card-icon {
  position: absolute;
  top: 17px;
  right: 25px;
}

.sidebar {
  width: 496px;
  height: 100vh;
  box-shadow: 0px 0px 30px 0px #00000040;
}
